body{   
    font-family: "League Spartan", sans-serif;
    margin: 0;
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}


header{
    margin:0;
    display: flex;
    min-height: 70px;
    background-color: #d2bcff;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.nombre-business{
    font-family: "League Spartan", sans-serif;
    font-weight:bolder;
    
}

.logo-img{
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

.logo{
    display: flex; 
    margin-left: 30px;   
}

nav a{
    font-weight: 600;    
    margin: 15px;
    color: #625481;
}

.navegacion{
    margin: 0px 100px
}

.container {
    display: flex;
    gap:70px;
    width: 80%;
    margin:auto;
  }

.box {
    float: left;
    flex: 1;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 25px;
    border: 7px solid #ad54be;
    border-radius: 10px;
    background-color: rgb(231, 140, 243) ;
}

@media (max-width:900px){
    header{
        
        padding: 8px 30px
    }

    .bars{
        display: block;
        cursor: pointer;
    }

    .bars .line{
        width: 30px;
        height: 3px;
        background-color: #625481;
        margin:  6px 0px;
    }

    .navegacion{
        height: 0px;
        position: absolute;
        top: 80px;
        left:0;
        width: 100vw;
        background-color: #7354b1;
        transition: 0.5s;
        overflow: hidden;
    }

    .navegacion a{
        margin-bottom: 20px;
    }

    .logo{
        margin-left: 0px;   
    }

    .logo-img{
        margin-left: 1px;
    }
}

.hero-image
{   
    
    position: relative;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url("imagenes/heroimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
     
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #ffff;
    align-items: center;
    gap: 2rem;

    padding: 0, 19%;
}

.hero-text{
    padding: 5px 10%;
    margin-left: 20%;
}

.hero-text h2{
    width: 450px;
    font-size: 55px;
}

.hero-text p{
    font-weight: 200;
    width: 380px;
    font-size: 20px;
}


.contenido{
    position:relative;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.mobile-mockup1{
    width: 380px;
    height: 720px;
}

.imgBox{
    margin-left: 20%;
}
.hero-fondo2{
    position: relative;
    background-color: #d2bcff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    backdrop-filter: opacity(10px);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;

    padding: 0, 19%;
}
.imagen2{
    width: 600px;
    height: 600;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.hero-text2{
    padding: 5px 10%;
    margin-left: 5%;
}
.hero-text2 h2{
    width: 450px;
    font-size: 63px;
}

.hero-text2 p{
    font-weight: 300;
    width: 380px;
    font-size: 25px;
    background-color: #a856ce;
    border: 5px solid #942ec4; 
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.hero-image3
{   
    
    position: relative;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url("imagenes/fondo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
     
    display: grid;
    grid-template-columns: repeat(1,1fr);
    color: #ffff;
    align-items: center;
    gap: 2rem;

    padding: 0, 19%;
    
}

.imagen_logo{
    position: center;
    width: 400px;
    height: 400px;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.imagen_cuadro{
    position: center;
    width: 100px;
    height: 210px;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}


